/* My Styles */
* {
    outline: 1px dotted gray;
}

/* Apply Font/background Color */
main {
    font-family: Nunito-Regular;
    font-size: 30px;
    background-color: #00A3FF;
}

.gallery {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
}

.gallery figure {
    flex: 1 1 clamp(20ch, calc(1 / 4 * 100%), 100%);
    border: 0.5rem solid white;
    padding: 2rem;
}

.gallery figure, 
.gallery img {
  width: 100%;
  height: 100%;
}

.gallery header {
    font-size: 50px;
    font-weight: 700;
}

span {
    font-weight: 700;
}